
{% extends 'base-dashboard.html.twig' %}

{% block title %}
    {% if product.name is not null %}
        {% trans %}Edit{% endtrans %} | {{ product.name }}
    {% else %}
        {% trans %}Create product{% endtrans %}
    {% endif %}
{% endblock %}

{% block sidemenu %}
    <div class="btn-group-vertical d-block" role="group" aria-label="Vertical button group">
    
    {% if product.id is not null %}

        <a class="btn btn-dark btn-sm p-2 text-start" href="javascript:void()" onclick="getDocument('product-sheet', {{ product.id }})">
            {% trans %}Product sheet{% endtrans %}
            <i class="fa-solid fa-file-pdf float-end fa-fw mt-1"></i>
        </a>
        <a class="btn btn-dark btn-sm p-2 text-start" href="/dashboard/products/product/{{ product.id }}">{% trans %}Return{% endtrans %}</a>
    
    {% else %}

        <a class="btn btn-dark btn-sm p-2 text-start" href="/dashboard/products">{% trans %}Return{% endtrans %}</a>
    
    {% endif %}

    </div>

{% endblock %}


{% block body %}

    {% if product.id is not null %}

    <h1 class="me-0">{% trans %}Edit product{% endtrans %}</h1>
    <h5 class="ms-0">{{ product.name }}</h5>
    
    {% else %}
    
    <h1 class="me-0">{% trans %}Create product{% endtrans %}</h1>
    
    {% endif %}


    <hr>

    {{ form_start(productForm) }}

    <h6>{% trans %}Product identification{% endtrans %}</h6>
    
        <div class="row mb-3">

            <div class="col-6">
                {{ form_label(productForm.name) }}
                {{ form_widget(productForm.name, {attr: {class: 'form-control'}}) }}
                
                {% if productForm.name.vars.help is not null %}
                <div class="form-text">
                    {{ form_help(productForm.name) }}
                </div>
                {% endif %}
            </div>

        </div>

        <div class="row mb-2">

            <div class="col">    
                {{ form_label(productForm.sku) }}
                {{ form_widget(productForm.sku, {attr: {class: 'form-control'}}) }}

                {% if productForm.sku.vars.help is not null %}
                <div class="form-text">
                    {{ form_help(productForm.sku) }}
                </div>
                {% endif %}
            </div>
        
            <div class="col">    
                {{ form_label(productForm.ean) }}
                {{ form_widget(productForm.ean, {attr: {class: 'form-control'}}) }}

                {% if productForm.ean.vars.help is not null %}
                <div class="form-text">
                    {{ form_help(productForm.ean) }}
                </div>
                {% endif %}
            </div>
        
            <div class="col">    
                {{ form_label(productForm.gtin) }}
                {{ form_widget(productForm.gtin, {attr: {class: 'form-control'}}) }}

                {% if productForm.gtin.vars.help is not null %}
                <div class="form-text">
                    {{ form_help(productForm.gtin) }}
                </div>
                {% endif %}
            </div>
        
            <div class="col">    
                {{ form_label(productForm.isbn) }}
                {{ form_widget(productForm.isbn, {attr: {class: 'form-control'}}) }}

                {% if productForm.isbn.vars.help is not null %}
                <div class="form-text">
                    {{ form_help(productForm.isbn) }}
                </div>
                {% endif %}
            </div>

        </div>

        <div class="row mb-2">

            <div class="col-3">
                {{ form_label(productForm.manufacturerCode) }}
                {{ form_widget(productForm.manufacturerCode, {attr: {class: 'form-control'}}) }}

                {% if productForm.manufacturerCode.vars.help is not null %}
                <div class="form-text">
                    {{ form_help(productForm.manufacturerCode) }}
                </div>
                {% endif %}
            </div>

            <div class="col-3">
                {{ form_label(productForm.modelNumber) }}
                {{ form_widget(productForm.modelNumber, {attr: {class: 'form-control'}}) }}

                {% if productForm.modelNumber.vars.help is not null %}
                <div class="form-text">
                    {{ form_help(productForm.modelNumber) }}
                </div>
                {% endif %}
            </div>

        </div>

    <hr class="my-4">

    <h6>{% trans %}Price and availability{% endtrans %}</h6>

    {% if productForm.vars.value.id != null %}
    <div class="alert alert-warning text-dark" role="alert">
        <span>{% trans %}Price can be edited for existing product by clicking `Prices` from the product menu. Stock can be updated in `Stock control`.{% endtrans %}</span>
    </div>
    {% endif %}
        
        <div class="row">
            <div class="col-9">
                <div class="row">
                    
                    <div class="col-4">
                        {{ form_label(productForm.price) }}

                        {% if productForm.vars.value.id != null %}
                            {{ form_widget(productForm.price, {attr: {class: 'form-control'}, disabled: true}) }}
                        {% else %}
                            {{ form_widget(productForm.price, {attr: {class: 'form-control'}}) }}
                        {% endif %}

                        {% if productForm.price.vars.help is not null %}
                        <div class="form-text">
                            {{ form_help(productForm.price) }}
                        </div>
                        {% endif %}
                    </div>
                
                    <div class="col-4">
                        {{ form_label(productForm.tax) }}

                        {% if productForm.vars.value.id != null %}
                        {{ form_widget(productForm.tax, {attr: {class: 'form-select'}, disabled: true}) }}
                        {% else %}
                        {{ form_widget(productForm.tax, {attr: {class: 'form-select'}}) }}
                        {% endif %}

                        {% if productForm.tax.vars.help is not null %}
                        <div class="form-text">
                            {{ form_help(productForm.tax) }}
                        </div>
                        {% endif %}
                    </div>

                    <div class="col-4">
                        {{ form_label(productForm.stock) }}

                        {% if productForm.vars.value.id != null %}
                        {{ form_widget(productForm.stock, {attr: {class: 'form-control'}, disabled: true}) }}
                        {% else %}
                        {{ form_widget(productForm.stock, {attr: {class: 'form-control'}}) }}
                        {% endif %}

                        {% if productForm.stock.vars.help is not null %}
                        <div class="form-text">
                            {{ form_help(productForm.stock) }}
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>

        <hr class="my-4">

    <h6>{% trans %}Assignment{% endtrans %}</h6>

        <div class="my-3">
        {% for radioAssignment in productForm.assignment %}
            <div class="form-check">
            {{ form_widget(radioAssignment, {attr: {class: 'form-check-input product-assignment'}}) }}
            {{ form_label(radioAssignment) }}
            </div>
        {% endfor %}
        </div>
        <div class="form-text">
            {{ form_help(productForm.assignment) }}
        </div>

        <div class="picker product-assignment-picker picker-category">
            {{ form_widget(productForm.category) }}

            <div id="category_path">

                {% if productForm.vars.value.parent is null and productForm.vars.value.category is not null %}

                    <ul class="breadcrumb my-3 p-3 rounded bg-dark text-light">

                    {% for category in path %}

                        {% if loop.last %}
                            <li class="breadcrumb-item active">{{ category.name }}</li>
                        {% else %}
                            <li class="breadcrumb-item">{{ category.name }}</li>
                        {% endif %}

                    {% endfor %}

                    </ul>
                
                {% endif %}
            
            </div>

            <div class="mt-2 text-center">
                <a href="javascript:void(0)" class="pick btn btn-success">
                    {% trans %}Pick category{% endtrans %}
                </a>
            </div>
        </div>

        <div class="picker product-assignment-picker picker-parent-product my-3">
            {{ form_widget(productForm.parent) }}

            <div id="parent_product">
            
                {% if productForm.vars.value.parent is not null %}

                    <div>
                        <div class="text-secondary small">{{ productForm.vars.value.parent.category.name }}</div>
                        <div class="result-name"><b>{{ productForm.vars.value.parent.name }}</b></div>
                    </div>

                {% endif %}

            </div>

            <div class="mt-2 text-center">
                <a href="javascript:void(0)" class="pick btn btn-success">
                    {% trans %}Pick parent product{% endtrans %}
                </a>
            </div>
        </div>

    <hr class="my-4">

    <h6>{% trans %}Product specification and data{% endtrans %}</h6>

        <div class="row my-3">
            <div class="product-properties col-6">
            
            {% for property in properties %}

                {% set propertyValue = null %}

                {% for value in product.propertyValues %}
                    {% if value.property.id == property.id %}
                        {% set propertyValue = value %}
                    {% endif %}
                {% endfor %}

                <div class="product-property row mb-2">
                    <div class="col-5">
                        <label for="property_{{ property.id }}">{{ property.name }}</label>
                    </div>
                    <div class="col-5">
                        {% if propertyValue.text is defined and propertyValue.text is not null %}
                            <input type="text" name="property[{{ property.id }}][value]" id="property_{{ property.id }}" value="{{ propertyValue.text }}" class="form-control">
                        {% elseif propertyValue.floatingPointNumber is defined and propertyValue.floatingPointNumber is not null %}
                            <input type="text" name="property[{{ property.id }}][value]" id="property_{{ property.id }}" value="{{ propertyValue.floatingPointNumber }}" class="form-control">
                        {% elseif propertyValue.number is defined and propertyValue.number is not null %}
                            <input type="text" name="property[{{ property.id }}][value]" id="property_{{ property.id }}" value="{{ propertyValue.number }}" class="form-control">
                        {% else %}
                            <input type="text" name="property[{{ property.id }}][value]" id="property_{{ property.id }}" value="" class="form-control">
                        {% endif %}
                    </div>

                    <div class="col-2">
                    {% if property.units != null %}
                        <select class="form-select" name="property[{{ property.id }}][unit]">
                            {% for unit in property.units %}
                                {% if propertyValue is null %}
                                    {% if unit.default %}
                                        <option value="{{ unit.name }}" selected>{{ unit.name }}</option>
                                    {% else %}
                                        <option value="{{ unit.name }}">{{ unit.name }}</option>
                                    {% endif %}
                                {% else %}
                                    {% if propertyValue.unit == unit.name %}
                                        <option value="{{ unit.name }}" selected>{{ unit.name }}</option>
                                    {% else %}
                                        <option value="{{ unit.name }}">{{ unit.name }}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    {% endif %}
                    </div>
                </div>
            {% endfor %}
            
            </div>

            <div class="product-additional-properties col-6">

            {% if product.additionalProperties|length > 0 %}

                {% for property in product.additionalProperties %}
                    <div class="additional-property row mb-2" data-id="{{ loop.index }}">
                        <div class="col-5">
                            <input type="text" class="form-control" name="additional_property[{{ loop.index }}][name]" value="{{ property.name }}" placeholder="{% trans %}Property name{% endtrans %}" />
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" name="additional_property[{{ loop.index }}][value]" value="{{ property.value }}" placeholder="{% trans %}Property value{% endtrans %}" />
                        </div>
                        <div class="col-2 text-end">
                            {% if loop.index == 1 %}
                            <button type="button" class="product-additional-properties-add btn btn-sm btn-success"><i class="fa-solid fa-plus"></i></button>
                            {% else %}
                            <button type="button" class="product-additional-properties-remove btn btn-sm btn-success"><i class="fa-solid fa-minus"></i></button>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

            {% else %}

                <div class="additional-property row mb-2" data-id="0">
                    <div class="col-5">
                        <input type="text" class="form-control" name="additional_property[0][name]" value="" placeholder="{% trans %}Property name{% endtrans %}" />
                    </div>
                    <div class="col-5">
                        <input type="text" class="form-control" name="additional_property[0][value]" value="" placeholder="{% trans %}Property value{% endtrans %}" />
                    </div>
                    <div class="col-2 text-end">
                        <button type="button" class="product-additional-properties-add btn btn-sm btn-success"><i class="fa-solid fa-plus"></i></button>
                    </div>
                </div>

            {% endif %}

            </div>
        </div>

    <hr class="my-4">

    <h6>{% trans %}Product gallery / files{% endtrans %}</h6>
    <div class="form-text">
        <p>{% trans %}Add some features describing this product to make it more attractive to your customers.{% endtrans %}</p>
    </div>

    <div>

        <div 
            id="file-manager-uploader" 
            data-assetsiconsdir = "{{ asset('img/icons/extensions/')}}"
            data-assetslogosdir = "{{ asset('img/logos/integrations/')}}"
            data-assetslocalcdn = "{{ asset('cdn/')}}"
            data-texttitle = "{% trans %}Title{% endtrans %}"
            data-textdescription = "{% trans %}Description{% endtrans %}"
            data-textalt = "{% trans %}Alt text (images only){% endtrans %}">

            <input type="file" id="file" class="d-none" accept="image/*,application/pdf" multiple>
            <input type="hidden" id="file-default" name="fileDefault" value="">

            <div id="files-uploaded"></div>
            <div class="upload-area card p-5 text-secondary" id="drop-area">
                <div class="upload-trigger text-center my-5">
                    <p><b class="fs-6"><i class="fa-solid fa-cloud-arrow-up fa-4x"></i>
                    <br>
                    <span id="drag-text" data-textdrag="{% trans %}Drag files here{% endtrans %}" data-textdragactive="{% trans %}Release files here to upload{% endtrans %}">{% trans %}Drag files here{% endtrans %}</span></b></p>
                    <div class="mt-3">
                    <label class="btn btn-secondary btn-sm small" for="file">{% trans %}or select files to upload{% endtrans %}</label>
                    </div>
                </div>
                <div id="drop-queue" class="row"></div>
            </div>

        </div>

    </div>

    <hr class="my-4">

    <h6>{% trans %}Item highlights{% endtrans %}</h6>
    <div class="form-text">
        <p>{% trans %}Add some features describing this product to make it more attractive to your customers.{% endtrans %}</p>
    </div>

    <div>

        <div class="row mb-2">
            <div class="product-highlights col" id="product-highlights">

            {% if product.highlights|length > 0 %}
                {% for highlight in productForm.vars.value.highlights %}
                    <div class="row highlight mb-2" data-id="{{ loop.index }}">
                        <div class="col-10">
                            <textarea name="product[highlights][{{ loop.index }}]" cols="40" rows="2" class="form-control">{{ highlight }}</textarea>
                        </div>
                        <div class="col-2 text-end">
                        {% if loop.index == 1 %}
                            <button type="button" class="product-highlights-add btn btn-sm btn-success" data-id="{{ loop.index }}"><i class="fa-solid fa-plus"></i></button>
                        {% else %}
                            <button type="button" class="product-highlights-remove btn btn-sm btn-danger" data-id="{{ loop.index }}"><i class="fa-solid fa-minus"></i></button>
                        {% endif %}
                        </div>
                    </div>
                {% endfor %}

            {% else %}

                <div class="row highlight mb-2" data-id="0">
                    <div class="col-10">
                        <textarea name="product[highlights][0]" cols="40" rows="2" class="form-control"></textarea>
                    </div>
                    <div class="col-2 text-end">
                        <button type="button" class="product-highlights-add btn btn-sm btn-success"><i class="fa-solid fa-plus"></i></button>
                    </div>
                </div>

            {% endif %}

            </div>
        </div>

    </div>

    {% do productForm.highlights.setRendered %}
    
    {{ form_end(productForm) }}

    <div class="modal fade modal-lg picker-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h6 class="modal-title"></h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans %}Close{% endtrans %}"></button>
                </div>

                <div class="modal-body">

                    <div class="modal-body-help mb-3">

                    </div>

                    <div class="modal-body-content">

                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    <button type="button" class="btn btn-success disabled picker-pick" disabled>{% trans %}Pick{% endtrans %}</button>
                </div>

            </div>
        </div>
    </div>


<script src="{{ asset('script/file-manager.js') }}"></script>

<script>

$(document).ready(function() {

    var picker = $(".modal.picker-modal")
    var modalTitle = $(picker).find(".modal-title")
    var modalHelpContainer = $(picker).find(".modal-body-help")
    var modalContentContainer = $(picker).find(".modal-body-content")
    var productContainer = $("#parent_product")

    $(document).on("click", ".picker-parent-product .pick", function() {

        picker.find(".picker-pick").hide()
        modalTitle.text("{% trans %}Pick product{% endtrans %}")
        modalHelpContainer.text(`{% trans %}Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit. Curabitur in interdum sem. Sed non libero nec nisi dapibus consectetur.
        Nunc ut elit id diam interdum suscipit in gravida leo.{% endtrans %}`)
        picker.modal("show")
        modalContentContainer.empty()

        var searchBar = $("<div />")
        var search = $("<input />").addClass("form-control").prop({placeholder: '{% trans %}Search for products{% endtrans %}'}).appendTo(searchBar)
        var searchResults = $("<div />").addClass("card mt-3 pt-3 px-3").hide()
        modalContentContainer.append(searchBar)
        modalContentContainer.append(searchResults)

        var timeout = null

        $(document).on("input", search, function() {

            clearTimeout(timeout)
            timeout = setTimeout(() => {
                
                var query = search.val().trim()
                
                if(query.length > 2) {
                    $.ajax({
                        method: "GET",
                        url: "/product/search",
                        data: {query: query},
                        success: function(response) {
                            
                            searchResults.empty()
                            json = JSON.parse(JSON.stringify(response))

                            if(json.length === 0) {
                                searchResults.hide()
                                return false
                            }

                            for(var key in json) {
                                var product = json[key]
                                var result = `
                                <div class="mb-3">
                                    <div class="text-category small">${product['category']['name']}</div>
                                    <div class="result-name">
                                        <a href="javascript:void(0)" class="product-pick" data-product="${product['id']}" data-product-name="${product['name']}" data-category="${product['category']['id']}" data-category-name="${product['category']['name']}">${product['name']}</a>
                                    </div>
                                </div>
                                `
                                searchResults.append(result)
                            }

                            searchResults.show()

                        }
                    })
                }
                else {
                    searchResults.empty().hide()
                }

            }, 500)
            

        })

        $(document).on("click", ".product-pick", function() {
            
            var productId = $(this).data("product")
            var productName = $(this).data("product-name")
            var categoryId = $(this).data("category")
            var categoryName = $(this).data("category-name")

            var product = `
            <div>
                <div class="text-secondary small">${categoryName}</div>
                <div class="result-name"><b>${productName}</b></div>
            </div>
            `
            $("#product_parent").val(productId)
            productContainer.html(product)

            $.ajax({
                method: "GET",
                url: "/category/properties",
                data: {id: categoryId, ip: true, fill: productId},
                success: function(response) {
                    
                    var json = JSON.parse(JSON.stringify(response))
                    $(".product-properties").empty()
                    $(".product-additional-properties").empty();
                    

                    for(var property in json.properties) {
                        
                        var prefilled = json["prefilledProperties"][json.properties[property]["id"]];
                        var prefilledValue = ""
                        var prefilledUnit = ""

                        if(typeof prefilled !== "undefined") {

                            if(typeof prefilled["number"] !== "undefined" && prefilled["number"] != null) {
                                prefilledValue = prefilled["number"]
                            }
                            else if(typeof prefilled["floatingPointNumber"] !== "undefined" && prefilled["floatingPointNumber"] != null) {
                                prefilledValue = prefilled["floatingPointNumber"].replace(".00", "")
                            }
                            else if(typeof prefilled["text"] !== "undefined" && prefilled["text"] != null) {
                                prefilledValue = prefilled["text"]
                            }

                            if(typeof prefilled["unit"] !== "undefined" && prefilled["unit"] != null) {
                                prefilledUnit = prefilled["unit"]
                            }

                        }
                        
                        var propertyField = `
                        <div class="product-property row mb-2">
                            <div class="col-5">
                                <label for="property_${json.properties[property]["id"]}">${json.properties[property]["name"]}</label>
                            </div>
                            <div class="col-5">
                                <input type="text" name="property[${json.properties[property]["id"]}][value]" id="property_${json.properties[property]["id"]}" value="${prefilledValue}" class="form-control">
                            </div>
                        `

                        if(json.properties[property]["units"].length > 0) {
                            propertyField += `
                                <div class="col-2">
                                    <select class="form-select" name="property[${json.properties[property]["id"]}][unit]">
                            `

                                for(var unit in json.properties[property]["units"]) {
                                    
                                    if(prefilledUnit == json.properties[property]["units"][unit]["name"]) {
                                    propertyField += `
                                        <option value="${json.properties[property]["units"][unit]["name"]}" selected>
                                    `
                                    }
                                    else {
                                    propertyField += `
                                        <option value="${json.properties[property]["units"][unit]["name"]}">
                                    `
                                    }

                                    propertyField += `
                                            ${json.properties[property]["units"][unit]["name"]}
                                        </option>
                                    `

                                }

                            propertyField += `
                                    </select>
                                </div>
                            `
                        }

                        propertyField += `
                        </div>
                        `

                        $(".product-properties").append(propertyField)

                    }

                    for(var index in json.prefilledAdditionalProperties) {
                        
                        var property = json.prefilledAdditionalProperties[index]

                        var newOption = `
                            <div class="additional-property row mb-2" data-id="${index}">
                                <div class="col-5">
                                    <input type="text" class="form-control" name="additional_property[${index}][name]" value="${property.name}" placeholder="{% trans %}Property name{% endtrans %}" />
                                </div>
                                <div class="col-5">
                                    <input type="text" class="form-control" name="additional_property[${index}][value]" value="${property.value}" placeholder="{% trans %}Property value{% endtrans %}" />
                                </div>
                                <div class="col-2 text-end">
                        `

                        if(index == 0) {
                            newOption += `
                                <button type="button" class="product-additional-properties-add btn btn-sm btn-success" data-id="${index}"><i class="fa-solid fa-plus"></i></button>
                            `
                        }
                        else {
                            newOption += `
                                <button type="button" class="product-additional-properties-remove btn btn-sm btn-danger" data-id="${index}"><i class="fa-solid fa-minus"></i></button>
                            `
                        }

                        newOption += `
                                </div>
                            </div>
                        `

                        $(".product-additional-properties").append(newOption)

                    }

                }
            })

            picker.modal("hide")

        })

    })

})

$(document).ready(function() {

    $(document).on("change", ".product-assignment", function() {
        
        $(".product-assignment-picker").hide()
        var assignment = $(this).val()

        switch(assignment) {
            case 'parent':
                $(".product-assignment-picker.picker-parent-product").show()
            break

            case 'category':
                $(".product-assignment-picker.picker-category").show()
            break
        }

    })

    $(".product-assignment:checked").trigger("change")

})

$(document).ready(function() {

    var picker = $(".modal.picker-modal")
    var modalTitle = $(picker).find(".modal-title")
    var modalHelpContainer = $(picker).find(".modal-body-help")
    var modalContentContainer = $(picker).find(".modal-body-content")

    $(document).on("click", ".picker-category .pick", function() {

        $(picker).find(".picker-pick").show()
        $(modalTitle).text("{% trans %}Pick category{% endtrans %}")
        $(modalHelpContainer).text(`{% trans %}Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit. Curabitur in interdum sem. Sed non libero nec nisi dapibus consectetur.
        Nunc ut elit id diam interdum suscipit in gravida leo.{% endtrans %}`)
        $(picker).modal("show")
        $(modalContentContainer).empty()

        var row = $("<div />").addClass("row").appendTo($(modalContentContainer))

        var loader = `
        <div class="col loader">
            <div class="card h-100">
                <i class="fas fa-spinner fa-pulse fa-3x m-auto"></i>
            </div>
        </div>
        `

        row.append(loader)
        
        $.ajax({
            method: "GET",
            url: "/category/pick",
            data: {parent: null},
            success: function(json) {
                json = JSON.parse(JSON.stringify(json))

                var column = `
                <div class="col">
                    <select class="form-control picker-select" size="10">
                        <option value=""></option>
                `
                for(var category in json) {
                    column += `<option value="${json[category]}">${category}</option>`
                }

                column += `
                    </select>
                </div>
                `
                $(".loader").remove()
                row.append(column)
            }
        })

        $(modalContentContainer).on("change", "select", function() {

            var select = $(this)
            var parent = parseInt(select.val())

            $(select).parents(".col:first").nextAll(".col").remove()

            
            var loader = `
            <div class="col loader">
                <div class="card h-100">
                    <i class="fas fa-spinner fa-pulse fa-3x m-auto"></i>
                </div>
            </div>
            `

            row.append(loader)
            
            var selected = `
                <div class="card bg-success text-light h-100">
                    <i class="fa-solid fa-circle-check fa-3x m-auto"></i>
                </div>
            `

            if(parent > 0) {
                
                $.ajax({
                    method: "GET",
                    url: "/category/pick",
                    data: {parent: parent},
                    success: function(json) {
                        
                        json = JSON.parse(JSON.stringify(json))

                        var newColumn = `
                            <div class="col">
                                <select class="form-control" size="10">
                                <option value=""></option>
                        `
                        for(var category in json) {
                            newColumn += `<option value="${json[category]}">${category}</option>`
                        }
                        newColumn += `
                                </select>
                            </div>
                        `
                        $(select).parents(".col:first").nextAll(".col").remove()
                        $(".loader").remove()
                        row.append(newColumn)

                        var nextOptions = parseInt($(row).find(".col:last-child select").find("option").length)
                        $(picker).find(".modal-footer .picker-pick").addClass("disabled").attr({disabled: true})

                        if(!(nextOptions > 1)) {

                            var lastColumn = $(row).find(".col:last-child")

                            $(lastColumn).find("select").replaceWith(selected)

                            $(picker).find(".modal-footer .picker-pick").removeClass("disabled").attr({disabled: false})

                        }
                    }
                })
            }
            else {
                var lastColumn = $(row).find(".col:last-child")
                $(lastColumn).html(selected)
            }
        })
    })

    $(picker).on("click", ".modal-footer .picker-pick", function() {
        
        $("#category_path").empty()

        if(!($(this).is(":disabled"))) {
            var selected = null
            $(picker).find($("select")).each(function() {
                if($(this).val() != "") {
                    selected = $(this).val()
                }
            })

            if(selected != null) {
                
                $.ajax({
                    method: "GET",
                    url: "/category/path",
                    data: {id: selected},
                    success: function(response) {
                        
                        var json = JSON.parse(JSON.stringify(response))
                        var path = []
                        
                        for(var category in json) {
                            path.push(json[category])
                        }

                        if(path.length > 0) {
                            $("#product_category").val(selected)
                            var breadcrumbs = $("<ul />").addClass("breadcrumb my-3 p-3 rounded bg-dark text-light").appendTo($("#category_path"));

                            var i = 1
                            for(var breadcrumb in path) {

                                var breadCrumbContainer = `
                                <li class="breadcrumb-item">${path[breadcrumb]}</li>
                                `

                                if(i == path.length) {
                                    var breadCrumbContainer = `
                                    <li class="breadcrumb-item active">${path[breadcrumb]}</li>
                                    `
                                }

                                breadcrumbs.append(breadCrumbContainer)
                                i++
                            }

                            $.ajax({
                                method: "GET",
                                url: "/category/properties",
                                data: {id: selected, ip: true},
                                success: function(response) {
                                    
                                    var json = JSON.parse(JSON.stringify(response))
                                    $(".product-properties").empty()
                                    
                                    for(var property in json) {
                                        
                                        var propertyField = `
                                        <div class="product-property row mb-2">
                                            <div class="col-5">
                                                <label for="property_${json[property]['id']}">${json[property]['name']}</label>
                                            </div>
                                            <div class="col-5">
                                                <input type="text" name="property[${json[property]['id']}][value]" id="property_${json[property]['id']}" class="form-control">
                                            </div>
                                        `

                                        if(json[property]['units'].length > 0) {
                                            propertyField += `
                                                <div class="col-2">
                                                    <select class="form-select" name="property[${json[property]['id']}][unit]">
                                            `

                                                for(var unit in json[property]['units']) {

                                                    if(json[property]['units'][unit]['default']) {
                                                        propertyField += `
                                                        <option value="${json[property]['units'][unit]['name']}" selected>
                                                        `
                                                    }
                                                    else {
                                                        propertyField += `
                                                        <option value="${json[property]['units'][unit]['name']}">
                                                        `
                                                    }

                                                    propertyField += json[property]['units'][unit]['name'] + `
                                                        </option>
                                                    `

                                                }

                                            propertyField += `
                                                    </select>
                                                </div>
                                            `
                                        }

                                        propertyField += `
                                        </div>
                                        `

                                        $(".product-properties").append(propertyField)

                                        $(picker).modal("hide")

                                    }
                                }
                            })
                        }
                    }
                })
            }
        }
    })
})

$(document).ready(function() {

    $(document).on("click", ".product-additional-properties-add", function() {

        var newOption = `
            <div class="additional-property row mb-2" data-id="%id%">
                <div class="col-5">
                    <input type="text" class="form-control" name="additional_property[%id%][name]" value="" placeholder="{% trans %}Property name{% endtrans %}" />
                </div>
                <div class="col-5">
                    <input type="text" class="form-control" name="additional_property[%id%][value]" value="" placeholder="{% trans %}Property value{% endtrans %}" />
                </div>
                <div class="col-2 text-end">
                    <button type="button" class="product-additional-properties-remove btn btn-sm btn-danger" data-id="%id%"><i class="fa-solid fa-minus"></i></button>
                </div>
            </div>
        `

        var lastId = parseInt($(".product-additional-properties").find(".additional-property:last-child").data("id"))
        $(".product-additional-properties").append(newOption.replaceAll(/%id%/g, (lastId + 1)))

    })

    $(document).on("click", ".product-additional-properties-remove", function() {

        var id = $(this).data("id")
        $(".additional-property[data-id=" + id + "]").remove()

    })

})

$(document).ready(function() {

    $(document).on("click", ".product-highlights-add", function() {

        var newHighlight = `
            <div class="row highlight mb-2" data-id="%id%">
                <div class="col-10">
                    <textarea name="product[highlights][%id%]" cols="40" rows="2" class="form-control"></textarea>
                </div>
                <div class="col-2 text-end">
                    <button type="button" class="product-highlights-remove btn btn-sm btn-danger" data-id="%id%"><i class="fa-solid fa-minus"></i></button>
                </div>
            </div>
        `

        var lastId = parseInt($(".product-highlights").find(".highlight:last-child").data("id"))
        $(".product-highlights").append(newHighlight.replaceAll(/%id%/g, (lastId + 1)))

    })

    $(document).on("click", ".product-highlights-remove", function() {

        var id = $(this).data("id")
        $(".highlight[data-id=" + id + "]").remove()

    })

})

</script>


{% endblock %}