
{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}

    <h1>{{ product.name }}</h1>
    <ul class="breadcrumb">
        {% for category in path %}
            {% if loop.last %}
            <li class="breadcrumb-item active">{{ category.name }}</li>
            {% else %}
            <li class="breadcrumb-item">{{ category.name }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <hr class="my-4">

    <div class="row">

        <div class="col-5">
            
            <div class="media-gallery">
            
                <div class="media-preview ratio ratio-1x1">
                </div>

                <ul class="media-files">
                {% for file in product.files %}
                    {% if file.mimeType == 'image/jpeg' %}
                    <li class="media-item" data-title="{{ file.title }}" data-description="{{ file.description }}" data-alt="{{ file.alt }}" data-type="{{ file.mimeType }}">
                        <a href="{{ file.url }}"><img class="media-thumbnail" src="{{ file.fixedHeightThumbnailUrl }}" alt="{{ file.alt }}"></a>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>

                <script src="{{ asset('script/product-gallery.js') }}"></script>

            </div>

        </div>

        <div class="col-4">

            <table class="table table-borderless table-sm">
            <tbody>
            {% for value in product.propertyValues %}
                <tr>
                <th class="ps-0">{{ value.property.name }}</th>
                <td>
                {% if value.property.type == 'integer' %}
                    {{ value.number }}
                {% elseif value.property.type == 'decimal' %}
                    {{ value.floatingPointNumber }}
                {% else %}
                    {{ value.text }}
                {% endif %}

                {% if value.unit %}
                    {{ value.unit }}
                {% endif %}
                </td>
                </tr>
            {% endfor %}
            
            {#
            {% for property in product.additionalProperties %}
                <tr>
                <th class="ps-0">{{ property.name }}</th>
                <td>{{ property.value }}</td>
                </tr>
            {% endfor %}
            #}
            </tbody>
            </table>

            {% if product.highlights is not null %}
            <ul class="mt-3 small">
                {% for highlight in product.highlights %}
                    <li>{{ highlight }}</li>
                {% endfor %}
            </ul>
            {% endif %}

        </div>

        <div class="col-3">

            <div class="card">
                <div class="card-body">

                    {% include '/product/price.html.twig' %}

                    <hr>

                    <div class="item-cart my-3">
                        <div class="input-group w-50 mx-auto">
                            <button type="button" class="btn btn-sm input-substract btn-light ratio-1x1 input-group-text"><i class="fa-solid fa-minus"></i></button>
                            <input type="text" class="input-quantity form-control form-control-sm text-center" value="1">
                            <button type="button" class="btn btn-sm input-add btn-light ratio-1x1 input-group-text"><i class="fa-solid fa-plus"></i></button>
                        </div>

                        <div class="mt-3">
                            <button class="btn btn-warning w-100 rounded-pill add-to-cart" data-id="{{ product.id }}">{% trans %}Add to cart{% endtrans %}</button>
                        </div>

                    </div>

                    

                </div>
            </div>

            <table class="table table-borderless table-sm m-0 text-secondary small">

                {% if product.sku %}
                    <tr><th class="ps-0 py-0 text-nowrap" style="width:1%">{% trans %}SKU{% endtrans %}</th><td class="py-0">{{ product.sku }}</td></tr>
                {% endif %}

                {% if product.ean %}
                    <tr><th class="ps-0 py-0 text-nowrap">{% trans %}EAN{% endtrans %}</th><td class="py-0">{{ product.ean }}<br>
                {% endif %}

                {% if product.gtin %}
                    <tr><th class="ps-0 py-0 text-nowrap">{% trans %}GTIN{% endtrans %}</th><td class="py-0">{{ product.gtin }}<br>
                {% endif %}

                {% if product.isbn %}
                    <tr><th class="ps-0 py-0 text-nowrap">{% trans %}ISBN{% endtrans %}</th><td class="py-0">{{ product.isbn }}<br>
                {% endif %}

                {% if product.manufacturerCode %}
                    <tr><th class="ps-0 py-0 text-nowrap">{% trans %}MFG{% endtrans %}</th><td class="py-0">{{ product.manufacturerCode }}<br>
                {% endif %}

                {% if product.modelNumber %}
                    <tr><th class="ps-0 py-0 text-nowrap">{% trans %}Model number{% endtrans %}</th><td class="py-0">{{ product.modelNumber }}<br>
                {% endif %}

            </table>

        </div>

    </div>

    <div class="row mt-5">

        <div class="col-6">

            <h5>Specification</h5>

            <table class="table table-striped-columns table-sm">
            {% for value in product.propertyValues %}
                <tr>
                <td class="ps-0">{{ value.property.name }}</td>
                <td>
                {% if value.property.type == 'integer' %}
                    {{ value.number }}
                {% elseif value.property.type == 'decimal' %}
                    {{ value.floatingPointNumber }}
                {% else %}
                    {{ value.text }}
                {% endif %}

                {% if value.unit %}
                    {{ value.unit }}
                {% endif %}
                </td>
                </tr>
            {% endfor %}
            </table>

        </div>
        
        <div class="col-6">

            <h5>Information</h5>

            <table class="table table-striped-columns table-sm">
            {% for property in product.additionalProperties %}
                <tr>
                <td class="ps-0">{{ property.name }}</td>
                <td>{{ property.value }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>

    </div>


<script>

$(document).ready(function() {
    
    $(".input-quantity").inputmask('integer', {
        rightAlign: false
    })

    $(".item-cart").on("click", ".input-add", function() {

        var form = $(this).parents(".item-cart:first")

        var quantity = 1

        var inputQuantity = parseInt($(form).find(".input-quantity").val())

        if(!isNaN(inputQuantity)) {
            quantity = inputQuantity + 1
        }

        $(form).find(".input-quantity").val(quantity)

    })

    $(".item-cart").on("click", ".input-substract", function() {

        var form = $(this).parents(".item-cart:first")

        var quantity = 1

        var inputQuantity = parseInt($(form).find(".input-quantity").val())

        if(!isNaN(inputQuantity)) {
            quantity = inputQuantity - 1
        }

        if(quantity == 0) {
            quantity = 1
        }

        $(form).find(".input-quantity").val(quantity)

    })

    $(".item-cart").on("click", ".add-to-cart", function() {

        var form = $(this).parents(".item-cart:first")

        var id = $(this).data("id")
        var quantity = parseInt($(form).find(".input-quantity").val())

        $.ajax({
            method: "PUT",
            url: "/api/cart/put",
            data: {id: id, quantity: quantity},
            success: function(response) {
                updateCart()
            }
        })

        

    })

})

</script>


{% endblock %}